{% extends 'base.html.twig' %}

{% block title %} Create article {% endblock %}

{% block body %}

    <p>
        Title: {{ form(form.title) }}
    </p>
    <p>
        Content: {{ form(form.content) }}
    </p>
    <p>
        Author_id: {{ form(form.author_id) }}
    </p>

{% endblock %}
