{% extends 'base.html.twig' %}

{% block title %}Grade{% endblock %}

{% block body %}
<div>
    <p>
        Result for dateTimeModified: {{ dateTimeModified }}
    </p>
    <p>
        Result for dateTimeImmutable: {{ dateTimeImmutable }}
    </p>
    <p>
        Result for dateTimeAnotherFormat: {{ dateTimeAnotherFormat }}
    </p>
</div>
{% endblock %}