{% extends 'base.html.twig' %}

{% block title %}Grade{% endblock %}

{% block body %}
<div>
    <p>
        Result for callFunctionWithString: {{ callFunctionWithString }}
    </p>
    <p>
        Result for anonymousFunction: {{ anonymousFunction }}
    </p>
    <p>
        Result for arrowFunctions: {{ arrowFunctions }}
    </p>
</div>
{% endblock %}